<?xml version="1.0" encoding="utf-8"?><plugin id="cordova-plugin-android-bars" version="1.0.71" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>AndroidBars</name><platform name="android"><!-- ############=============<{ MAIN MODULE }>=============############# --><!-- Что загружать  --><config-file parent="/*" target="res/xml/config.xml"><feature name="AndroidBars"><param name="android-package" value="ru.cordova.android.bars.AndroidBars"/><param name="onload" value="true"/></feature></config-file><!-- Где взять java и куда закинуть --><source-file src="src/android/AndroidBars.java" target-dir="src/ru/cordova/android/bars"/><!--
    Где взять js и как обращаться в кордове  --><js-module name="AndroidBars" src="www/AndroidBars.js"><clobbers target="cordova.plugins.AndroidBars"/></js-module><!--############################################################################################# --><!--############=============<{ ADDED MODULE KEYBOARD }>=============############# --><config-file target="config.xml" parent="/*"><feature name="AndroidBars_Keyboard"><param name="android-package" value="ru.cordova.android.bars.AndroidBars_Keyboard"/><param name="onload" value="true"/></feature></config-file><source-file src="src/android/AndroidBars_Keyboard.java" target-dir="src/ru/cordova/android/bars"/><!-- Как обращаться в кордове. Соединяем с основным пакетом  --><js-module name="AndroidBars_Keyboard" src="www/AndroidBars.keyboard.js"><merges target="cordova.plugins.AndroidBars.keyboard"/></js-module><!--
    ############################################################################################# --><!-- ############=============<{ Helpers }>=============############# --><source-file src="src/android/Utils.java" target-dir="src/ru/cordova/android/bars"/><source-file src="src/android/Events.java" target-dir="src/ru/cordova/android/bars"/><config-file parent="/*" target="AndroidManifest.xml"/></platform></plugin>