<?xml version="1.0" encoding="utf-8"?><plugin id="cordova-plugin-android-bars" version="1.0.47" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>AndroidBars</name><js-module name="AndroidBars" src="www/AndroidBars.js"><clobbers target="cordova.plugins.AndroidBars"/></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="AndroidBars"><param name="android-package" value="ru.cordova.android.bars.AndroidBars"/><param name="onload" value="true"/></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"/><source-file src="src/android/AndroidBars.java" target-dir="src/ru/cordova/android/bars"/><source-file src="src/android/Utils.java" target-dir="src/ru/cordova/android/bars"/></platform></plugin>